#newsletter {
  box-shadow: 0 70px 140px 0 rgb(130 136 171 / 20%);
  border-radius: 1.6em;
  margin-top: 50px;

}

#newsletter_title {
  background: #81BCDA;
  border-top-left-radius: 1.6em;
  border-top-right-radius: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#newsletter_content{
  padding-top: 25px;
}

#newsletter_content p  {
  margin-bottom: 39px;
}
